.book-container {
  width: 100%;
  height: 100%; }

html {
  margin: 0;
  height: 100%;
  font-size: 20px; }

body {
  font-size: 0.8rem; }

a {
  color: #004ed0; }

a:visited {
  color: #7170db; }

a:hover {
  color: #6d6d6d;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.off-canvas-overlay {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499; }
  .off-canvas-overlay.show {
    display: block; }
  @media all and (min-width: 1280px) {
    .off-canvas-overlay {
      display: none !important; } }

.off-canvas-content {
  height: 100%;
  font-family: sans-serif; }
  .off-canvas-content .book-content {
    padding: 0 0.75rem; }
    .off-canvas-content .book-content .book-post a:hover {
      text-decoration: underline; }
    .off-canvas-content .book-content .book-post h1,
    .off-canvas-content .book-content .book-post h2,
    .off-canvas-content .book-content .book-post h3,
    .off-canvas-content .book-content .book-post h4,
    .off-canvas-content .book-content .book-post h5,
    .off-canvas-content .book-content .book-post h6 {
      font-weight: bold;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ddd; }
    .off-canvas-content .book-content .book-post h2,
    .off-canvas-content .book-content .book-post h3,
    .off-canvas-content .book-content .book-post h4,
    .off-canvas-content .book-content .book-post h5,
    .off-canvas-content .book-content .book-post h6 {
      margin-top: 1.6rem; }
    .off-canvas-content .book-content .book-post h1 {
      font-size: 1.6rem; }
    .off-canvas-content .book-content .book-post h2 {
      font-size: 1.4rem; }
    .off-canvas-content .book-content .book-post h3 {
      font-size: 1.2rem; }
    .off-canvas-content .book-content .book-post h4 {
      font-size: 1rem; }
    .off-canvas-content .book-content .book-post h5 {
      font-size: 0.8rem; }
    .off-canvas-content .book-content .book-post h6 {
      font-size: 0.7rem; }
    .off-canvas-content .book-content .book-post p {
      margin-bottom: 1rem; }
    .off-canvas-content .book-content .book-post hr {
      border: 0.5px solid #ddd;
      background-color: #ddd;
      margin: 1rem 0; }
    .off-canvas-content .book-content .book-post .table-wrapper {
      max-width: 100%;
      margin: 1.25rem 0;
      overflow: auto; }
      .off-canvas-content .book-content .book-post .table-wrapper table {
        width: 100%; }
        .off-canvas-content .book-content .book-post .table-wrapper table th,
        .off-canvas-content .book-content .book-post .table-wrapper table td {
          padding: 0.75rem;
          border-top: 1px solid #ddd;
          text-align: left; }
    .off-canvas-content .book-content .book-post ul,
    .off-canvas-content .book-content .book-post ol {
      list-style-position: outside;
      margin: 0 0 1.2rem 1.4rem; }
      .off-canvas-content .book-content .book-post ul ol,
      .off-canvas-content .book-content .book-post ol ol {
        margin-top: 0;
        margin-bottom: 0; }
      .off-canvas-content .book-content .book-post ul ul,
      .off-canvas-content .book-content .book-post ol ul {
        margin-top: 0;
        margin-bottom: 0; }
      .off-canvas-content .book-content .book-post ul p,
      .off-canvas-content .book-content .book-post ol p {
        margin: 0; }
    .off-canvas-content .book-content .book-post li {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem; }
    .off-canvas-content .book-content .book-post blockquote {
      margin: 1.125rem 1.125rem 1.125rem 0;
      padding: 0.2rem 1rem; }
      .off-canvas-content .book-content .book-post blockquote p {
        margin-bottom: 0.5rem; }
      .off-canvas-content .book-content .book-post blockquote p:last-child {
        margin-bottom: 0; }
      .off-canvas-content .book-content .book-post blockquote ul:last-child {
        margin-bottom: 0; }
    .off-canvas-content .book-content .book-post .video-container {
      position: relative;
      margin-bottom: 1.5rem;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .off-canvas-content .book-content .book-post .video-container iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
    .off-canvas-content .book-content .book-post figcaption {
      text-align: center;
      font-size: 0.6rem; }
    .off-canvas-content .book-content .book-post img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .off-canvas-content .book-content .book-post iframe {
      width: 100%; }
    .off-canvas-content .book-content .book-comments {
      padding: 0 0 1.5rem 0; }
    .off-canvas-content .book-content #disqus_thread {
      margin: 50px 0; }
    .off-canvas-content .book-content .utterances {
      max-width: 95%;
      margin: 0; }
    .off-canvas-content .book-content pre, .off-canvas-content .book-content .highlight {
      font-family: consolas, Menlo, monospace;
      background: #1d1f21;
      color: #c5c8c6;
      line-height: 1.33rem;
      margin: 1rem auto 1rem; }
    .off-canvas-content .book-content .gutter {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none; }
    .off-canvas-content .book-content code {
      font-family: consolas, Menlo, monospace;
      border-radius: 3px;
      padding: 2px 4px;
      overflow-wrap: break-word;
      word-wrap: break-word; }
    .off-canvas-content .book-content pre {
      overflow: auto;
      padding: 10px; }
      .off-canvas-content .book-content pre code {
        background: none;
        color: #c5c8c6;
        padding: 0;
        text-shadow: none; }
    .off-canvas-content .book-content .highlight {
      font-size: 0.7rem;
      overflow: auto; }
      .off-canvas-content .book-content .highlight *::selection {
        background: #373b41; }
      .off-canvas-content .book-content .highlight pre {
        border: 0;
        margin: 0;
        padding: 10px 0; }
      .off-canvas-content .book-content .highlight table {
        border: 0;
        margin: 0;
        width: auto; }
      .off-canvas-content .book-content .highlight td {
        border: 0;
        padding: 0; }
      .off-canvas-content .book-content .highlight figcaption {
        position: relative;
        background: black;
        color: #989fa5;
        line-height: 1em;
        margin: 0;
        padding: 0.5em; }
        .off-canvas-content .book-content .highlight figcaption::before, .off-canvas-content .book-content .highlight figcaption::after {
          content: " ";
          display: table; }
        .off-canvas-content .book-content .highlight figcaption a {
          color: #c5c8c6;
          position: absolute;
          right: 6px; }
          .off-canvas-content .book-content .highlight figcaption a:hover {
            border-bottom-color: #c5c8c6; }
      .off-canvas-content .book-content .highlight .marked {
        background: #f8e9c0;
        border-bottom: 0.05rem solid #ffe7ab;
        border-radius: 0.1rem;
        color: #3b4351;
        padding: 0.05rem 0.1rem 0; }
      .off-canvas-content .book-content .highlight .gutter pre {
        background: black;
        color: #989fa5;
        padding-left: 10px;
        padding-right: 10px;
        text-align: right; }
      .off-canvas-content .book-content .highlight .code pre {
        background: #1d1f21;
        padding-left: 10px;
        width: 100%; }
    .off-canvas-content .book-content .gist table {
      width: auto; }
      .off-canvas-content .book-content .gist table td {
        border: 0; }
    .off-canvas-content .book-content pre .deletion {
      background: if false, #fdd, #800000; }
    .off-canvas-content .book-content pre .addition {
      background: if false, #dfd, #008000; }
    .off-canvas-content .book-content pre .meta {
      color: #f0c674; }
    .off-canvas-content .book-content pre .comment {
      color: #969896; }
    .off-canvas-content .book-content pre .variable,
    .off-canvas-content .book-content pre .attribute,
    .off-canvas-content .book-content pre .tag,
    .off-canvas-content .book-content pre .name,
    .off-canvas-content .book-content pre .regexp,
    .off-canvas-content .book-content pre .ruby .constant,
    .off-canvas-content .book-content pre .xml .tag .title,
    .off-canvas-content .book-content pre .xml .pi,
    .off-canvas-content .book-content pre .xml .doctype,
    .off-canvas-content .book-content pre .html .doctype,
    .off-canvas-content .book-content pre .css .id,
    .off-canvas-content .book-content pre .css .class,
    .off-canvas-content .book-content pre .css .pseudo {
      color: #cc6666; }
    .off-canvas-content .book-content pre .number,
    .off-canvas-content .book-content pre .preprocessor,
    .off-canvas-content .book-content pre .built_in,
    .off-canvas-content .book-content pre .builtin-name,
    .off-canvas-content .book-content pre .literal,
    .off-canvas-content .book-content pre .params,
    .off-canvas-content .book-content pre .constant,
    .off-canvas-content .book-content pre .command {
      color: #de935f; }
    .off-canvas-content .book-content pre .ruby .class .title,
    .off-canvas-content .book-content pre .css .rules .attribute,
    .off-canvas-content .book-content pre .string,
    .off-canvas-content .book-content pre .symbol,
    .off-canvas-content .book-content pre .value,
    .off-canvas-content .book-content pre .inheritance,
    .off-canvas-content .book-content pre .header,
    .off-canvas-content .book-content pre .ruby .symbol,
    .off-canvas-content .book-content pre .xml .cdata,
    .off-canvas-content .book-content pre .special,
    .off-canvas-content .book-content pre .formula {
      color: #b5bd68; }
    .off-canvas-content .book-content pre .title,
    .off-canvas-content .book-content pre .css .hexcolor {
      color: #8abeb7; }
    .off-canvas-content .book-content pre .function,
    .off-canvas-content .book-content pre .python .decorator,
    .off-canvas-content .book-content pre .python .title,
    .off-canvas-content .book-content pre .ruby .function .title,
    .off-canvas-content .book-content pre .ruby .title .keyword,
    .off-canvas-content .book-content pre .perl .sub,
    .off-canvas-content .book-content pre .javascript .title,
    .off-canvas-content .book-content pre .coffeescript .title {
      color: #81a2be; }
    .off-canvas-content .book-content pre .keyword,
    .off-canvas-content .book-content pre .javascript .function {
      color: #b294bb; }
  .off-canvas-content .book-post-info {
    position: fixed;
    font-size: 0.7rem; }
    @media all and (min-width: 1280px) {
      .off-canvas-content .book-post-info {
        max-width: 10rem; } }
    @media all and (min-width: 960px) and (max-width: 1279px) {
      .off-canvas-content .book-post-info {
        max-width: 8.5rem; } }
    .off-canvas-content .book-post-info .book-post-meta {
      display: block;
      opacity: 1;
      max-height: 150px;
      overflow: auto;
      font-size: 0.7rem;
      transition: max-height 0.15s ease-in;
      transition: opacity 0.15s ease-in; }
      .off-canvas-content .book-post-info .book-post-meta .author {
        display: flex; }
        .off-canvas-content .book-post-info .book-post-meta .author .author-img {
          display: flex;
          align-items: center; }
          .off-canvas-content .book-post-info .book-post-meta .author .author-img figure {
            background: #fff; }
        .off-canvas-content .book-post-info .book-post-meta .author .author-title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-left: 8px; }
      .off-canvas-content .book-post-info .book-post-meta .link a {
        color: #3b4351; }
      .off-canvas-content .book-post-info .book-post-meta .link a:hover {
        color: gray; }
      .off-canvas-content .book-post-info .book-post-meta.hide {
        opacity: 0;
        max-height: 0;
        transition: max-height 0.15s ease-out; }
    .off-canvas-content .book-post-info .book-tocbot {
      overflow: auto;
      position: relative;
      padding-right: 0.875rem;
      transition: max-height 0.15s ease-in-out; }
      .off-canvas-content .book-post-info .book-tocbot ul {
        list-style: none;
        position: inherit;
        overflow: hidden; }
        .off-canvas-content .book-post-info .book-tocbot ul li {
          margin-left: 0.25rem; }
      .off-canvas-content .book-post-info .book-tocbot .toc-link::before {
        background-color: white !important; }
      .off-canvas-content .book-post-info .book-tocbot .is-active-link::before {
        background-color: #004ed0 !important; }
    .off-canvas-content .book-post-info .book-tocbot-menu {
      margin: 1rem 0.75rem; }
      .off-canvas-content .book-post-info .book-tocbot-menu a {
        display: block;
        margin: 0.375rem 0;
        color: #999;
        cursor: pointer; }
      .off-canvas-content .book-post-info .book-tocbot-menu a:hover {
        color: gray; }
  @media all and (min-width: 1280px) {
    .off-canvas-content {
      margin-left: 12rem;
      padding: 1.8rem 1.8rem; } }
  @media all and (min-width: 960px) and (max-width: 1279px) {
    .off-canvas-content {
      padding: 1.8rem 1.5rem; } }
  @media all and (max-width: 959px) {
    .off-canvas-content {
      padding: 1.8rem 0.75rem; } }

.book-navbar {
  padding-top: 0;
  padding-right: 0.75rem;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem; }
  .book-navbar i {
    color: #2f2f2f; }
  @media all and (min-width: 1280px) {
    .book-navbar {
      display: none; } }
  @media all and (max-width: 1279px) {
    .book-navbar {
      display: block; } }

.book-sidebar {
  position: fixed;
  width: 12rem;
  height: 100%;
  z-index: 500;
  background-color: #f7f8f9;
  transition: transform 0.2s; }
  .book-sidebar.show {
    transform: translateX(0); }
  @media all and (min-width: 1280px) {
    .book-sidebar {
      transform: translateX(0) !important; } }
  @media all and (max-width: 1279px) {
    .book-sidebar {
      transform: translateX(-100%); } }
  .book-sidebar .book-brand {
    display: flex;
    position: fixed;
    top: 0.85rem;
    left: 1.25rem;
    height: 2rem; }
    .book-sidebar .book-brand a {
      display: inline-flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: bold;
      color: #2f2f2f;
      text-decoration: none; }
      .book-sidebar .book-brand a img {
        height: 1.6rem;
        width: 1.6rem; }
      .book-sidebar .book-brand a span {
        margin-left: 0.5rem; }
    .book-sidebar .book-brand a:hover {
      color: #2f2f2f;
      text-decoration: none; }
  .book-sidebar .book-menu {
    position: fixed;
    top: 3.25rem;
    bottom: 0rem;
    width: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0.7rem; }
    .book-sidebar .book-menu h1,
    .book-sidebar .book-menu h2,
    .book-sidebar .book-menu h3,
    .book-sidebar .book-menu h4,
    .book-sidebar .book-menu h5,
    .book-sidebar .book-menu h6 {
      padding: 0 0.6rem 0 1.25rem;
      margin: 1.25rem 0 0.625rem 0;
      font-size: 0.7rem; }
    .book-sidebar .book-menu ul,
    .book-sidebar .book-menu ol,
    .book-sidebar .book-menu li {
      margin: 0;
      list-style: none; }
    .book-sidebar .book-menu p {
      margin: 0; }
    .book-sidebar .book-menu .uncollapsible {
      padding: 0 0.6rem 0 1.25rem;
      margin: 0 0 0.625rem 0;
      border-top: 1px solid #e7e7e7; }
    .book-sidebar .book-menu .accordion {
      padding: 0.625rem 0.6rem 0.625rem 1.25rem;
      border-top: 1px solid #e7e7e7; }
      .book-sidebar .book-menu .accordion label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0; }
      .book-sidebar .book-menu .accordion .accordion-body {
        margin: 0; }
      .book-sidebar .book-menu .accordion input:checked ~ .accordion-header .icon {
        transform: rotate(-180deg); }
      .book-sidebar .book-menu .accordion i.icon-arrow-down::before {
        border-width: 0.05rem;
        border-color: #696969;
        height: 0.3rem;
        width: 0.3rem; }
    .book-sidebar .book-menu ul {
      margin-left: 0.5rem; }
    .book-sidebar .book-menu li {
      margin-top: 0.625rem; }
    .book-sidebar .book-menu a {
      color: #2f2f2f;
      font-weight: 400; }
    .book-sidebar .book-menu a:hover {
      color: gray; }
    .book-sidebar .book-menu .current-tab {
      color: #004ed0;
      font-weight: 600; }

.book-archive h1,
.book-archive h2 {
  margin: 0; }

.book-archive h1 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem; }

.book-archive h2 {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ddd; }

.book-archive .years {
  padding-bottom: 1.25rem; }
