---
---

$background-color: #1d1d1d; /* a dark, off-black for the bg */
$text-color: #e6e6e6; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #adadad; /* such as the site title in the header, visited */

@import "{{ site.theme }}";

.highlight {
  background: #272822;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #272822;
  }
}

.highlighter-rouge {
  background: #272822;
  @extend %vertical-rhythm;

  .highlight & {
    background: #272822;
  }
}

code {
	background: #272822;
}